<f:layout name="Default" />

<f:section name="main">
<f:for each="{referenzs}" as="referenz">
        <figure>
            <f:link.action action="show" arguments="{referenz : referenz}">
                <img srcset="
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 650c, height: 650c)} 650w,
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 220c, height: 220c)} 220w,
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 110c, height: 110c)} 110w"
                     sizes="(min-width: 36em) 33.3vw, 100vw"
                     src="{f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 110c, height: 110c)}"
                     alt="{referenz.vorschaubild.originalResource.originalFile.title}" />

            </f:link.action>
        </figure>
</f:for>
</f:section>