<f:layout name="Default" />

<f:section name="main">
<f:for each="{referenzs}" as="referenz">
    <f:link.action action="show" arguments="{referenz : referenz}">
        <figure class="effect-sadie" data-referenz="{referenz.uid}">

                <img srcset="
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 650c, height: 650c)},
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 220c, height: 220c)},
                {f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 110c, height: 110c)}"
                     sizes="(min-width: 36em) 33.3vw, 100vw"
                     src="{f:uri.image(src: '{referenz.vorschaubild.originalResource.originalFile.uid}', width: 110c, height: 110c)}"
                     alt="{referenz.vorschaubild.originalResource.originalFile.title}" />
            <figcaption>
                <h2>{referenz.titel}</h2>
                <p>{referenz.teaser}</p>
            </figcaption>
        </figure>
    </f:link.action>
</f:for>
</f:section>