
<table class="tx-mp-referenzen" >
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.titel" />
		</td>
		<td>
		{referenz.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.teaser" />
		</td>
		<td>
		{referenz.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.beschreibung" />
		</td>
		<td>
		{referenz.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.baujahr" />
		</td>
		<td>
		{referenz.baujahr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.vorschaubild" />
		</td>
		<td>
				<f:image src="{referenz.vorschaubild.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mpreferenzen_domain_model_referenz.hauptbilder" />
		</td>
		<td>
				<f:image src="{referenz.hauptbilder.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>